<div id="new_chat" class="d-flex flex-column justify-content-center align-items-center w-100">
  <div id="<%= dom_id chat %>">
    <%# <p> %>
      <%# <strong>User:</strong> %>
      <%# <%= chat.user_id %>
    <%# </p> %>

    <p>
      <strong>Generated Content</strong>
      <%= chat.chat_content.html_safe %>
    </p>

  </div>
</div>

